.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 720px;
  margin: 0 auto;
  height: 100vh;
  padding: 0 32px;

  &__header {
    margin-bottom: 32px;
  }

  &__title {
    font-size: 36px !important;
    font-weight: bold !important;
    text-align: center;
  }

  &__title-highlight {
    background: linear-gradient(180deg, #40c4ff 0%, #2962ff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

  &__description {
    margin-bottom: 32px;
    text-align: center;
  }

  &__buttons {
    display: flex;
    gap: 16px;
  }

  &__button {
    width: 160px;
    font-size: 16px !important;
  }
}
